@import "tailwindcss";

@theme {
    --font-muoto: "Muoto", sans-serif;
    /* --font-inter: "Inter", sans-serif; */
}


@font-face {
  font-family: "Muoto";
  src: url("./assets/font/MuotoTrial-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muoto";
  src: url("./assets/font/MuotoTrial-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Muoto";
  src: url("./assets/font/MuotoTrial-Light.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  8% {
    opacity: 1;
    transform: translateY(0);
  }
  83% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-12px);
  }
}

/* class you use in JSX */
.animate-fadeUp {
  display: inline-block; /* important so transform applies cleanly */
  animation: fadeUp 2400ms cubic-bezier(.22,.98,.18,1) both;
  will-change: transform, opacity;
}

@keyframes scrollAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* For Chrome, Safari and Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* hides scrollbar */
  -ms-overflow-style: none; /* for IE and Edge */
}

@keyframes slideDown {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slideLeft {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideRight {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.slideDown {
  animation: slideDown 1s ease-out forwards;
}
.slideUp {
  animation: slideUp 1s ease-out forwards;
}
.slideLeft {
  animation: slideLeft 1s ease-out forwards;
}
.slideRight {
  animation: slideRight 1s ease-out forwards;
}
